# HW 3 Fairness and Bias Analysis in Machine Learning
- Can "Run All Cells"

# Imports + Load Data

In [1]:
import pandas as pd
import numpy as np
import pingouin as pg

In [2]:
BASE = "/Users/brinkley97/Documents/development/"
CLASS_PATH = "classes/csci_535_multimodal_probabilistic_learning/"
FBA_DATASET_PATH = "datasets/"
FBA_csv = BASE + CLASS_PATH + FBA_DATASET_PATH + "data.csv"
# FBA_csv

In [3]:
def load_data(file):
    original_data = pd.read_csv(file)
    # original_data = pd.DataFrame(file)
    copy_of_data = original_data.copy()
    return copy_of_data

In [4]:
dataset_copy = load_data(FBA_csv)
dataset_copy

,Filename,Image #,Gender,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable,Qualified
0,Google_1_Danielle Goble_5_oval.jpg,1,1,1,5.67,3.67,5.60,5.00,5.80,5.33,4.80,4.67,3.67,4.33,4.67,0
1,Google_1_Phillip Owensby_9_oval.jpg,2,0,1,6.53,2.20,6.60,7.00,7.47,6.73,3.13,6.93,5.80,6.73,6.60,1
2,Google_1_Douglas Ziegler_3_oval.jpg,3,1,1,6.07,3.60,6.47,6.47,6.67,6.40,2.40,6.07,5.14,6.67,6.67,0
3,Google_1_Donald Sauls_11_oval.jpg,4,1,2,4.80,4.60,4.47,3.80,4.27,3.87,5.80,3.53,2.80,2.93,3.27,0
4,Google_1_Eric Harman_5_oval.jpg,5,1,6,6.67,5.40,6.33,4.87,5.87,4.67,4.27,4.07,4.80,5.20,5.33,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,Google_1_Alison Summerville_3_oval.jpg,2218,0,5,6.40,3.73,6.27,5.53,5.87,6.07,3.87,6.13,4.33,5.53,5.27,0
2218,Google_1_Douglas Yun_3_oval.jpg,2219,0,3,5.47,5.73,5.67,4.40,5.67,4.07,5.33,4.60,4.67,4.40,4.13,0
2219,Google_1_Wayne Barrios_9_oval.jpg,2220,1,1,6.67,4.20,5.60,5.93,5.67,5.53,3.80,5.87,4.80,6.53,6.87,1
2220,Google_1_Jennie Kissinger_15_oval.jpg,2221,0,1,6.27,3.93,6.07,5.93,5.60,6.60,3.80,5.53,5.07,6.67,6.13,1
2221,Google_1_Eileen Burd_7_oval.jpg,2222,0,1,5.86,4.29,5.64,6.14,5.71,6.29,3.57,6.00,4.93,6.64,5.43,0

In [5]:
traits_df = dataset_copy.drop(['Filename', 'Image #', 'Gender', 'Race', 'Qualified'], axis=1)
traits_df

,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable
0,5.67,3.67,5.60,5.00,5.80,5.33,4.80,4.67,3.67,4.33,4.67
1,6.53,2.20,6.60,7.00,7.47,6.73,3.13,6.93,5.80,6.73,6.60
2,6.07,3.60,6.47,6.47,6.67,6.40,2.40,6.07,5.14,6.67,6.67
3,4.80,4.60,4.47,3.80,4.27,3.87,5.80,3.53,2.80,2.93,3.27
4,6.67,5.40,6.33,4.87,5.87,4.67,4.27,4.07,4.80,5.20,5.33
...,...,...,...,...,...,...,...,...,...,...,...
2217,6.40,3.73,6.27,5.53,5.87,6.07,3.87,6.13,4.33,5.53,5.27
2218,5.47,5.73,5.67,4.40,5.67,4.07,5.33,4.60,4.67,4.40,4.13
2219,6.67,4.20,5.60,5.93,5.67,5.53,3.80,5.87,4.80,6.53,6.87
2220,6.27,3.93,6.07,5.93,5.60,6.60,3.80,5.53,5.07,6.67,6.13
2221,5.86,4.29,5.64,6.14,5.71,6.29,3.57,6.00,4.93,6.64,5.43

In [29]:
traits = traits_df.columns
traits

Index(['Confident', 'Egotistic', 'Intelligent', 'Kind', 'Responsible',
       'Trustworthy', 'Aggressive', 'Caring', 'Emotional', 'Friendly',
       'Sociable'],
      dtype='object')

# TODOs

1. Analysis of Variance (ANOVA)
2. T-Test

## 1. Analysis of Variance (ANOVA)

- To compare 11 traits across 7 races
- IV: race = [black, white, east asian, south asain, hispanic, middle eastern, other]
- DV: psychological traits = [confident, egotistic, intelligent, kind, responsible, trustworthy, aggressive, caring, emotional, friendly, sociable]
- Outcome: p-value for each trait that'll represent the bias...

In [16]:
race_numbers = dataset_copy.loc[0:, 'Race'].unique()
race_numbers = np.sort(race_numbers)
race_numbers

array([0, 1, 2, 3, 4, 5, 6])

In [17]:
def filt_race_df(df, race_number):
    """
    Parameter:
    dataset_paths_copy -- df (entire df loaded) 
    
    Return:    
    """
    store_new_dfs = []
    filt_race = (df['Race'] == race_number)
    race_df = df.loc[filt_race]
    # print(race_df)
    store_new_dfs.append(race_df)
    
    return store_new_dfs

In [18]:
# filt_race_0 = (dataset_paths_copy['Race'] == 0)
# filt_race_0
filtered_race_dfs = []
for race_number in race_numbers:
    # print(race_number)
    filtered_race_df = filt_race_df(dataset_copy, race_number)
    filtered_race_dfs.append(filtered_race_df)

In [19]:
filtered_race_dfs = sum(filtered_race_dfs, [])
# filtered_race_dfs

In [21]:
r1 = filtered_race_dfs[0]
r1

,Filename,Image #,Gender,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable,Qualified
342,Google_1_Clarence Morehouse_8_oval.jpg,343,1,0,6.67,2.93,6.33,7.13,6.53,6.73,4.80,5.33,4.67,5.73,5.73,0
1637,Google_1_Steven Mahan_1_oval.jpg,1638,1,0,6.53,4.13,5.53,6.20,6.73,6.40,3.93,6.07,5.40,6.67,6.27,0

In [22]:
r2 = filtered_race_dfs[1]
r2

,Filename,Image #,Gender,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable,Qualified
0,Google_1_Danielle Goble_5_oval.jpg,1,1,1,5.67,3.67,5.60,5.00,5.80,5.33,4.80,4.67,3.67,4.33,4.67,0
1,Google_1_Phillip Owensby_9_oval.jpg,2,0,1,6.53,2.20,6.60,7.00,7.47,6.73,3.13,6.93,5.80,6.73,6.60,1
2,Google_1_Douglas Ziegler_3_oval.jpg,3,1,1,6.07,3.60,6.47,6.47,6.67,6.40,2.40,6.07,5.14,6.67,6.67,0
5,Google_1_Peter Grigsby_13_oval.jpg,6,0,1,6.50,2.36,6.00,6.64,6.36,6.86,2.14,6.21,5.64,6.43,6.50,0
6,Google_1_Nathan Beauregard_3_oval.jpg,7,1,1,6.20,2.27,5.13,6.60,5.87,6.33,2.87,5.93,5.20,7.07,6.07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2215,Google_1_Kimberly Mccown_5_oval.jpg,2216,0,1,5.87,4.47,5.67,5.67,5.80,5.53,2.73,6.07,5.93,5.93,6.27,0
2216,Google_1_Manuel Cleveland_19_oval.jpg,2217,1,1,5.20,3.33,6.27,6.60,5.67,5.93,3.53,5.00,4.47,5.73,5.60,0
2219,Google_1_Wayne Barrios_9_oval.jpg,2220,1,1,6.67,4.20,5.60,5.93,5.67,5.53,3.80,5.87,4.80,6.53,6.87,1
2220,Google_1_Jennie Kissinger_15_oval.jpg,2221,0,1,6.27,3.93,6.07,5.93,5.60,6.60,3.80,5.53,5.07,6.67,6.13,1
2221,Google_1_Eileen Burd_7_oval.jpg,2222,0,1,5.86,4.29,5.64,6.14,5.71,6.29,3.57,6.00,4.93,6.64,5.43,0

In [14]:
# aov = pg.anova(dv='Confident', between='Race', data=r0, detailed=True)
# aov

In [11]:
# aov = pg.anova(dv='Race', between='Confident', data=r0, detailed=True)
# aov

In [13]:
# dataset_copy

In [14]:
# IGNORE
# def filt_race_df(dataset_paths_copy, race_number):
#     """
#     Parameter:
#     dataset_paths_copy -- df (entire df loaded) 
    
#     Return:    
#     """
#     store_new_dfs = []
#     filt_race = (dataset_paths_copy['Race'] == race_number)
#     race_df = dataset_paths_copy.loc[filt_race]
#     # print(race_df)
#     store_new_dfs.append(race_df)
    
#     return store_new_dfs

In [15]:
# IGNORE
# filtered_race_dfs = []
# for race_number in race_numbers:
#     # print(race_number)
#     filtered_race_df = filt_race_df(dataset_paths_copy, race_number)
#     filtered_race_dfs.append(filtered_race_df)

In [22]:
# dataset_copy

In [26]:
race_series = dataset_copy.loc[0:, 'Race']
# race_series

In [27]:
race_and_traits_df = pd.concat([race_series, traits_df], axis=1)
race_and_traits_df

,Race,Confident,Egotistic,Intelligent,Kind,Responsible,Trustworthy,Aggressive,Caring,Emotional,Friendly,Sociable
0,1,5.67,3.67,5.60,5.00,5.80,5.33,4.80,4.67,3.67,4.33,4.67
1,1,6.53,2.20,6.60,7.00,7.47,6.73,3.13,6.93,5.80,6.73,6.60
2,1,6.07,3.60,6.47,6.47,6.67,6.40,2.40,6.07,5.14,6.67,6.67
3,2,4.80,4.60,4.47,3.80,4.27,3.87,5.80,3.53,2.80,2.93,3.27
4,6,6.67,5.40,6.33,4.87,5.87,4.67,4.27,4.07,4.80,5.20,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...
2217,5,6.40,3.73,6.27,5.53,5.87,6.07,3.87,6.13,4.33,5.53,5.27
2218,3,5.47,5.73,5.67,4.40,5.67,4.07,5.33,4.60,4.67,4.40,4.13
2219,1,6.67,4.20,5.60,5.93,5.67,5.53,3.80,5.87,4.80,6.53,6.87
2220,1,6.27,3.93,6.07,5.93,5.60,6.60,3.80,5.53,5.07,6.67,6.13
2221,1,5.86,4.29,5.64,6.14,5.71,6.29,3.57,6.00,4.93,6.64,5.43

`CORRECT or WRONG?`

In [37]:
store_aov = []
for trait in range(1, len(traits)):
    aov = pg.anova(dv=traits[trait], between='Race', data=race_and_traits_df, detailed=True)
    store_aov.append(aov)

In [38]:
store_aov[0]

   Source           SS    DF        MS         F     p-unc       np2
0    Race    30.545907     6  5.090984  5.746486  0.000006  0.015328
1  Within  1962.334988  2215  0.885930       NaN       NaN       NaN

In [39]:
store_aov[1]

   Source           SS    DF        MS         F         p-unc       np2
0    Race    43.803961     6  7.300660  13.74459  2.175962e-15  0.035895
1  Within  1176.532882  2215  0.531166       NaN           NaN       NaN

`CORRECT or WRONG?`

In [40]:
# store_aov = []
# for trait in range(1, len(traits)):
#     aov = pg.anova(dv='Race', between=traits[trait], data=race_and_traits_df, detailed=True)
#     store_aov.append(aov)

In [41]:
# store_aov[0]

      Source           SS    DF        MS         F     p-unc       np2
0  Egotistic   136.213872   178  0.765246  0.836029  0.939292  0.067895
1     Within  1870.029603  2043  0.915335       NaN       NaN       NaN

In [42]:
# store_aov[1]

        Source           SS    DF        MS         F     p-unc       np2
0  Intelligent   155.899790   139  1.121581  1.261999  0.023926  0.077707
1       Within  1850.343684  2082  0.888734       NaN       NaN       NaN

## 2. T-Test

- To compare 11 traits across 2 genders
- IV: gender [male, female]
- DV: psychological traits = [confident, egotistic, intelligent, kind, responsible, trustworthy, aggressive, caring, emotional, friendly, sociable]
- Outcome: p-value for each trait that'll represent the bias...

In [ ]:
# gender_numbers = dataset_copy.loc[0:, 'Gender'].unique()
# gender_numbers = np.sort(gender_numbers)
# gender_numbers

In [36]:
gender_series = dataset_copy.loc[0:, 'Gender']
# gender_series

In [37]:
gender_series.unique()

array([1, 0])

In [26]:
gender_and_traits_df = pd.concat([gender_series, traits_df], axis=1)
# gender_and_traits_df

In [31]:
store_ttest = []
for trait in range(1, len(traits)):
    specific_trait = traits[trait]
    gt = gender_and_traits_df.loc[0, ['Gender', specific_trait]]
    # print(gt)
    ttest = pg.ttest(x=gender, y=specific_trait)
    store_ttest.append(ttest)

NameError: name 'gender' is not defined

In [28]:
store_ttest

[]